* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0A234D;
    color: #fff;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


 /* Main Form Styling */


.input-box {
    width: 400px;
    margin: 15px 0;
    
}

.input-box {
    text-align: left;
    width: 700px; /* Full width to utilize wrapper's padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
    position: relative;
    top: 20px;
    right: 0px;
}

::placeholder{
    color: darkgrey;
    font-size: medium;
}

.Property_Name{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px;
    ;

}

.Address{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px

}

.Unit_Number{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px


}

.Area{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px

}

.Property_Type{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px;
}

.Number_of_Bedroom{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px;

}

.Number_of_Bathroom{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px;
}

.Monthly_Rent{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px;
}

.Status{
    border: solid;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 5px;
}

.botton{

    border-radius: 10px;
    width:80px;
    height:50px;
    font-size: large;
    background-color:#FFBF0C
    
}

.head{
    background-color: #FFBF0C;
    border-radius: 10px;
    padding: 5px;
}